{{#extend "layout"}}
  <div class="slider" hidden>
    <div><h3>1</h3></div>
    <div><h3>2</h3></div>
    <div><h3>3</h3></div>
    <div><h3>4</h3></div>
    <div><h3>5</h3></div>
    <div><h3>6</h3></div>
  </div>

  <div class="row marketing">
    <h4>Muskie Casting Rod</h4>
    <p>Hunting down big muskies requires a rod that can handle big, heavy rigs and crushing hits. Fast-action, SCII graphite, with medium-heavy to extra-heavy power, tames hard-thrashing fish. All have aluminum-oxide guides, tip tops with zirconium inserts, premium-grade cork split-grip handles and DPS reel seats.</p>

    <div class="result">

    </div>

    <button class="btn btn-default sweet">Sweet - Buy it now!</button>
  </div>
{{/extend}}
