<div class="footer">
  <div class="container">
    <p><font-awesome-icon icon="code"></font-awesome-icon>&nbsp;with&nbsp;<font-awesome-icon icon="heart"></font-awesome-icon>&nbsp;by mycompany.com</p>
  </div>
</div>
