packages:
  yum:
    libxml2: []
    libxml2-devel: []
    libxslt: []
    libxslt-devel: []
    libffi-devel: []
    postgresql96-devel: []
    mysql57-devel: []
    zlib-devel: []
    libjpeg-turbo-devel: []
container_commands:
  00_fix_mysqllib:
    command: "cd /usr/lib64 && sudo ln -sf mysql57/libmysqlclient.so.1020"
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python manage.py migrate --noinput"
    leader_only: true
  02_makeuser:
    command: "source /opt/python/run/venv/bin/activate && python manage.py make_user"
    leader_only: true
  03_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput"
    leader_only: true
  04_categories:
    command: "source /opt/python/run/venv/bin/activate && python manage.py loaddata lee_fishing/fishing_equipment/fixtures/category.json"
    leader_only: true
  05_products:
    command: "source /opt/python/run/venv/bin/activate && python manage.py loaddata lee_fishing/fishing_equipment/fixtures/product.json"
    leader_only: true
option_settings:
  "aws:elasticbeanstalk:application:environment":
    "DJANGO_SETTINGS_MODULE": "config.settings.production"
    "DJANGO_ALLOWED_HOSTS": ".elasticbeanstalk.com,.cloudfront.net,.elb.amazonaws.com,lee.fishing"
    "DEFAULT_USER": "leepac"
    "DEFAULT_EMAIL": "leepac@amazon.com"
    "DEFAULT_PASSWORD": ",5PHsBSgQy"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: config/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "static/"
